.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c35; /* Dark background color */
  color: #fff; /* Text color */
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  margin: 20px 0;
}

/* Add responsive styles */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
    margin: 10px 0;
  }
}
